/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

/* VARIANLES  */
:root{
    /* TIPOGRAPHY */
    --h1-size: 58px;
    --h2-size: 49px;
    --h3-size: 36px;
    --h4-size: 26px;
    --text-size:24px;

    --bold-weight:700;
    --semi-weight:600;
    --regular-weight:400;

    /* COLORS */
    --body-color:#101011;
    --text-color-light:#fff;
    --text-color:#a5a8b3;
}

/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2;
    transition: all .3s ease-in-out;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}

a{
    text-decoration: none;
}

li{
    list-style:none;
}

h1, h2, h3, h4{
    font-weight: var(--bold-weight);
}

h1{
    font-size: var(--h1-size);
}

h2{
    font-size: var(--h2-size);
}

h3{
    font-size: var(--h3-size);
}

h4{
    font-size: var(--h4-size);
}

img{
    width:100% ;
}


/* REUSABLES CLASS */
.container{
    max-width: 1020px;
    margin: auto;
}

.section{
    padding: 5rem 0 1rem;
    
}

.separation_line{
    background-color: #7858a6;
    height: 2px;
    margin: 2rem 0;
    width: 100%;
}

/* NAVBAR */
.navbar{
    padding: 10px 0 ;
    position: fixed;
    background: var(--body-color);
    width: 100%;
}

.navbar__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:  auto;
}

.navbar__menu{
    display: flex;
    gap: 3rem;
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.nav__logo img{
    width: 50px;
}

.nav__logo a{
    color: var(--text-color-light);
    font-size:2rem;
    margin: auto;
}

.navbar__link a{
    font-size: 1.5rem;
    color: var(--text-color);
}

.navbar__link a:hover{
    color: var(--text-color-light);
}

.popular{
    align-items: center;
    text-align: center;
    display: flex;
}

.popular__container{
    display: flex;
    gap: 2rem;
    margin: auto;
}

.popular__img img{
    width: 276px;
}

.popular__content{
    width: 456px;
}

.popular__title{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg,#1dee8a,#3544e8);
    -webkit-background-clip: text;
    background-clip: text;
}

.popular__text{
    color: var(--text-color);
    font-size: var(--text-size);
}

.ultimos__title{
    color: var(--text-color-light);
    width: 100%;
}

.ultimos__title h4{
    max-width: max-content;
    padding: .5rem 2rem 0;
    background-color: #7858a6;
}

.ultimos__title hr{
    background: #7858a6;
    border: solid 2px #7858a6;
}

.ultimos__card{
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    display: flex;
    gap: 1.75rem;
}

.card__item:hover{
    transform: scale(1.05);
}

.card__img{
    padding: .5rem;
    border: solid 2px #7858a6;
    border-radius: 35px;
}

.card__title{
    color: var(--text-color);
    font-size: 1.2rem;
    margin-top: 10px;
}

/* FOOTER */
footer{
    background-color: #7858a6;

}
.footer__container{
    align-items: center;
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem ;
}

.footer__title h3{
    color: var(--text-color-light);
    font-weight: var(--regular-weight);
}

.footer__redes{
    display: flex;
    gap: 3rem;
}

.footer__icon a img{
    width: 50px;
}